<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
  -->
<configuration>
  <configSections />
  <appSettings>
    <!-- '=======================================  -->
    <!-- 1. Server Run Mode Setting                -->
    <!-- '=======================================  -->
    <!-- RunMode: Acceptable Values are Live or Test -->
    <!-- ReturneVerboseServerErrorMessage: Acceptable Values are true or false -->
    <add key="RunMode" value="Test" />
    <add key="ReturneVerboseServerErrorMessage" value="false" />
    <!-- '=======================================  -->
    <!-- '2. Setting Request, Response, Query XML Schemas -->
    <!-- '=======================================  -->
    <!-- Enter the full path of the Request, Respone, and Query XML schemas. -->
    <!-- Example: C:\xmlLegal\Schema\Organizations\Court\RR\02\Request\Request.xsd -->
    <!-- Example: C:\xmlLegal\Schema\Organizations\Court\RR\02\Response\Response.xsd -->
    <add key="RequestSchemaPath" value="c:\xmlLegal\Schema\Medical\Surgery\OperativeNote\Test01\Audio\RR\01\Request\Request.xsd" />
    <add key="ResponseSchemaPath" value="c:\xmlLegal\Schema\Medical\Surgery\OperativeNote\Test01\Audio\RR\01\Response\Response.xsd" />
    <add key="QuerySchemaPath" value="c:\xmlLegal\Schema\. . .\Query.xsd" />
    <!-- '=======================================  -->
    <!-- '3. Setting Whether to Save Request XML   -->
    <!-- '=======================================  -->
    <!-- SaveRequestResponse: If true Request & Response xmls will be saved at .\RR\Request & .\RR\Response folders. If false Request & Response xmls will not be saved. -->
    <add key="SaveRequestResponse" value="true" />
    <add key="SaveRequestResponsePath" value="D:\Data\OperativeNotesTest\ServerAudio\" />
    <!-- '=======================================  -->
    <!-- '4. Logging                               -->
    <!-- '=======================================  -->
    <!-- Log: If true Logs will be created .\Log. If false no Logs will be created. -->
    <!-- LogPath: Full path where Logs will be stored. Value is used when DisableLog = False. -->
    <!-- LogPath: Example: d:\Websites\Organization\Log\ -->
    <add key="Log" value="true" />
    <add key="LogPath" value="D:\Data\OperativeNotesTest\ServerAudio\Log" />
    <add key="LogArchive" value="D:\Data\OperativeNotesTest\ServerAudio\Log\LogArchive" />
    <!-- '=======================================  -->
    <!-- '5. Get Records                           -->
    <!-- '=======================================  -->
    <!-- GetRecords: Default number of records to be fetched. -->
    <add key="GetRecords" value="20" />
    <!-- '=======================================  -->
    <!-- '6. Setting Database Connection(s)        -->
    <!-- '=======================================  -->
    <!-- Value telling whether to check database variables or not; Value to provide number of databases
         Assemblies: You must uncomment assemblies, below, for the databases you wish to support.  
         See http://www.connectionstrings.com/
         Access Example (mdb)                 = Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Technical\MyDatabase.mdb;
         Access Example (accdb)               = Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Technical\MyDatabase.mdb;
         SQL Server Example                   = Data Source=myServerAddress;Initial Catalog=myDataBase;User Id=myUsername;Password=myPassword; (System.Data.SqlClient.SqlConnection)
         Oracle Example                       = Data Source=TORCL;User Id=myUsername;Password=myPassword; (Using TNS)
         Oracle Example                       = Data Source=TORCL;Integrated Security=SSPI; (Using Integrated Security) (NOT SUPPORTED)

         DatabaseNumber                       = Number of Databases Used by Services (Default = 1) (REQUIRED)
         DatabaseType_XXXX_Y                  = Type of Database - Acceptable Values (REQUIRED)
                                                   XXXX = Live or Test
                                                   Y = Number from 1 to 9
                                                   Access 2000 (.mdb), Access 2003 (.mdb), Access 2007 (.accdb), Access 2010 (.accdb)
                                                   Oracle
                                                   SQL Server 2000, SQL Server 2005, SQL Server 2008
                                                   mySQL
                                                   Postgre
         DatabaseFriendlyName_XXXX_Y         = Friendly Name of Database used when called (CONDITIONALLY REQUIRED . . . if DatabaseNumber > 1)                                  
         DatabaseProvider_XXXX_Y             = Database Provider (REQUIRED)
                                                   Access: System.Data.OleDb
                                                   SQL Server: System.Data.SqlClient
                                                   Oracle: System.Data.OracleClient 
         DatabaseConnectionString_XXXX_Y     = Application checks for connection string first; if absent, applicaiton will try to build from other values. (CONDITIONALLY REQUIRED)

                                              OR

                                              (CONDITIONALLY REQUIRED)
         DatabasePath_XXXX_Y                 = For use with Access .mdb or .accdb only.
         DataSource_XXXX_Y                   = MS SQL Server Name [Machine Name / Machine IP address]. Oracle Database Name
         DatabaseName_Test_1                 = MS SQL Server Database Name (Initial Catalog) - only used for MS SQL server
         DatabaseUserName_Test_1             = Database Username
         DatabasePassword_Test_1             = Database Password
      -->
    <add key="DatabaseNumber" value="1" />
    <!-- Test Database -->
    <add key="DatabaseType_TEST_1" value="Access 2003" />
    <add key="DatabaseFriendlyName_TEST_1" value="" />
    <add key="DatabaseProvider_TEST_1" value="System.Data.OleDb" />
    <add key="DatabaseConnectionString_TEST_1" value="" />
    <add key="DatabasePath_TEST_1" value="D:\Data\OperativeNotesTest\ServerAudio\Database\OperativeNotesAudio.accdb" />
    <add key="DataSource_TEST_1" value="" />
    <add key="DatabaseName_TEST_1" value="" />
    <add key="DatabaseUserName_TEST_1" value="" />
    <add key="DatabasePassword_TEST_1" value="" />
    <!-- Live Database -->
    <add key="DatabaseType_LIVE_1" value="SQL Server 2008" />
    <add key="DatabaseFriendlyName_LIVE_1" value="" />
    <add key="DatabaseProvider_LIVE_1" value="System.Data.SqlClient" />
    <add key="DatabaseConnectionString_LIVE_1" value="" />
    <add key="DatabasePath_LIVE_1" value="" />
    <add key="DataSource_LIVE_1" value="" />
    <add key="DatabaseName_LIVE_1" value="" />
    <add key="DatabaseUserName_LIVE_1" value="" />
    <add key="DatabasePassword_LIVE_1" value="" />
    <add key="InboxRemote" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\Inbox" />
    <add key="OutboxRemote" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\Outbox" />
    <add key="InboxRemoteArchive" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\InboxArchive" />
    <add key="OutboxRemoteArchive" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\OutboxArchive" />
    <add key="Archive" value="true" />
    <add key="Move" value="true" />
    <add key="ArchiveCleanUpDays" value="60" />
    <add key="TempDirectory" value="D:\Data\OperativeNotesTest\ServerAudio\Temp" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="9000" maxRequestLength="1048576" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <compilation strict="false" explicit="true" targetFramework="4.5.2" />
    <authentication mode="Windows" />
    <!--
                The <customErrors> section enables configuration 
               of what to do if/when an unhandled error occurs 
                during the execution of a request. Specifically, 
                it enables developers to configure html error pages 
               to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
                <error statusCode="403" redirect="NoAccess.htm" />
                <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: 22693292-15A1-43BC-9A0D-4CDCBB217A3D-->