<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="InboxRemote" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\Inbox" />
    <add key="OutboxRemote" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\Outbox" />
    <add key="WorkingRemote" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\Working" />
    <add key="InboxRemoteArchive" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\InboxArchive" />
    <add key="OutboxRemoteArchive" value="D:\Data\OperativeNotesTest\ServerAudio\Boxes\OutboxArchive" />
    <!--<add key="Transcriptionist" value="Audio Mgr Transcription"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>